<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cookies on Notify BSR of a mandatory occurrence service</h1>

      <govuk-body>The Notify BSR of a mandatory occurrence service puts small files (known as ‘cookies’) on to your computer.</govuk-body>

      <govuk-body>These cookies are used to:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="help us understand how you use the service, so we can make improvements" />
        <govuk-list-item text="remember what notifications you’ve seen so that you’re not shown them more than once" />
        <govuk-list-item text="temporarily store the information you enter" />
      </govuk-list>
      <govuk-body><a href="https://www.aboutcookies.org/" class="govuk-link" role="link" target="_blank">Find out how to manage cookies</a>.</govuk-body>

      <h2 class="govuk-heading-m">Google Analytics cookies</h2>

      <govuk-body>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service.</govuk-body>

      <govuk-body>The Google Analytics cookie collects and stores information about:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="the pages you visit - how long you spend on each page" />
        <govuk-list-item text="how you got to the service" />
        <govuk-list-item text="what you click on while you’re using the service" />
      </govuk-list>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">A randomly generated reference is used to identify unique users and inform referring sites, visitor and session counts</td>
            <td class="govuk-table__cell">2 years</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gat</td>
            <td class="govuk-table__cell">This helps Google to manage the rate at which they track your site interactions (when high traffic occurs)</td>
            <td class="govuk-table__cell">1 minute</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">This helps us count how many people visit the Notify BSR of a mandatory occurrence service by tracking if you’ve visited before</td>
            <td class="govuk-table__cell">24 hours</td>
          </tr>
        </tbody>
      </table>

      <govuk-body>Google isn’t allowed to use or share our analytics data with anyone, but you can opt out of Google Analytics cookies.</govuk-body>


      <h2 class="govuk-heading-m">Session cookies</h2>

      <govuk-body>We store session cookies on your computer to remember your progress through the application form.</govuk-body>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">application</td>
            <td class="govuk-table__cell">Stores encrypted session data</td>
            <td class="govuk-table__cell">After 1 hour of inactivity or when you close your browser</td>
          </tr>
        </tbody>
      </table>


      <h2 class="govuk-heading-m">Cookies message</h2>

      <govuk-body>You may see a banner when you visit the Notify BSR of a mandatory occurrence inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.</govuk-body>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">cookie_preferences_set</td>
            <td class="govuk-table__cell">Saves a message to let us know that you have seen our cookie message</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">allow_analytics_cookies</td>
            <td class="govuk-table__cell">Stores whether you consent to analytics cookies</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
        </tbody>
      </table>


      <h2 class="govuk-heading-m">Change your settings</h2>

      <govuk-body>You can <a href="help/cookies" class="govuk-link" role="link">change which cookies you're happy for us to use</a>.</govuk-body>

    </div>

  </div>
</div>
