<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" >
  <span class="govuk-caption-l">About the request</span>
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="!hasReasonErrors" anchorId="request-about-input" message="Select or enter what would you like to talk about" />
  </govuk-error-summary>

  <govuk-radio-group title="What do you want to contact the Building Safety Regulator about?" [isPageHeading]="true" [(model)]="model.Reason" #field [govukRequired]="field" id="radios-request-about" [errorText]="getErrorDescription(hasReasonErrors, 'Select what would want to talk about')">
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.Reason" name="application-group" id="request-about-building" value="building" label="a building" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.Reason" name="application-group" id="request-about-person-org" value="person_or_organisation" label="a person or organisation" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.Reason" name="application-group" id="request-about-what-building-safety-regulator" value="building_safety_regulator" label="building safety regulation or policy" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.Reason" name="application-group" id="other" label="something else" value="other">
      <govuk-input (onKeyupEnter)="saveAndContinue()" class="govuk-input--width-20" id="other-description" [(model)]="model.ReasonOther" label="Tell us what you would like to talk to the building safety regulator about" labelClass="govuk-label--s" [errorText]="getErrorDescription(hasErrors, 'Enter what would you like to talk about')" />
    </govuk-radio>
  </govuk-radio-group>
</govuk-formpage>
