<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true">

  <span class="govuk-caption-l">About the occurrence</span>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link id="error-textarea-describe-risk-incident" *ngIf="hasErrors" anchorId="textarea-describe-risk-incident" message="You need to briefly describe the risk or incident" />
  </govuk-error-summary>

  <govuk-textarea label="Briefly describe the risk or incident" labelClass="govuk-label--l"
                  [enableCharacterCount]="true" [maxCharacterRemaining]="500" [isPageHeading]=true
                  [(model)]="model" #field [govukRequired]="field" id="describe-risk-incident"
                  aria-describedby="error-textarea-describe-risk-incident" labelFor="textarea-describe-risk-incident"
                  [errorText]="getErrorDescription(hasErrors, 'You need to briefly describe the risk or incident')" />

  <govuk-body class="govuk-!-margin-top-5">You must submit a full mandatory occurrence report within 10 days of the occurrence being identified.</govuk-body>
</govuk-formpage>
