<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Mandatory occurrence notice received</h1>
        <div class="govuk-panel__body">
          Reference number<br><strong><span>HDJ2123F</span></strong>
        </div>
      </div>

      <govuk-body>We have sent you a confirmation email that includes your reference number.</govuk-body>
      <govuk-body>You must submit a full mandatory occurrence report within 10 days of the occurrence being identified. Use your mandatory occurrence notice reference number.</govuk-body>
      <govuk-body>You can <a class="govuk-link" (keyup.enter)="navigateToSummary()" (click)="navigateToSummary()" role="link">Print or save this page as a PDF</a></govuk-body>
      <h2 class="govuk-heading-m">To submit your full mandatory occurrence report now</h2>
      <govuk-body><a class="govuk-link" href="#" target="_blank" rel="noreferrer noopener">Return to the service start page</a></govuk-body>
    </div>
  </div>
</div>
