<div class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Check your answers</h1>
        <govuk-body>Review the information you want to send us</govuk-body>

        <h2 class="govuk-heading-m">About the building</h2>
        <govuk-summary-list>
          <govuk-summary-list-row *ngIf="!isAaboutTheBuilding" key="Building address" actionDetails="Building address" (onKeyupEnter)="navigateToAddress()" (onClick)="navigateToAddress()" [showAction]=true>{{model.Address}}</govuk-summary-list-row>
          <govuk-summary-list-row *ngIf="isBCAAddress" key="BCA reference" actionDetails="BCA reference" (onKeyupEnter)="navigateToAddress()" (onClick)="navigateToAddress()" [showAction]=true>{{model.BcaReference}}</govuk-summary-list-row>
          <govuk-summary-list-row *ngIf="isHRBAdress" key="Building HRB number" actionDetails="Building HRB number" (onKeyupEnter)="navigateToAddress()" (onClick)="navigateToAddress()" [showAction]=true>{{model.HrbNumber}}</govuk-summary-list-row>
          <govuk-summary-list-row *ngIf="isAaboutTheBuilding" key="Tell us how to find your building" actionDetails="Tell us how to find your building" (onKeyupEnter)="navigateToAddress()" (onClick)="navigateToAddress()" [showAction]=true>{{model.AboutBuilding}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Building region">England</govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-summary-list *ngIf="isManual || isAaboutTheBuilding">         
          <govuk-summary-list-row key="Number of floors">{{model.NumberOfFloors}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Building height">{{model.BuildingHeight}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Number of units">{{model.NumberOfUnits}}</govuk-summary-list-row>
        </govuk-summary-list>

        <h2 class="govuk-heading-m">About you</h2>
        <govuk-summary-list>
          <govuk-summary-list-row key="Your name" actionDetails="Your name" (onKeyupEnter)="navigateTo('your-details')" (onClick)="navigateTo('your-details')" [showAction]=true>{{model.YourName}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Contact details" actionDetails="Contact details" (onKeyupEnter)="navigateTo('enter-email')" (onClick)="navigateTo('enter-email')" [showAction]=true>{{model.ContactDetails}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Telephone or mobile number" actionDetails="Contact number" (onKeyupEnter)="navigateTo('notice-contact-number')" (onClick)="navigateTo('notice-contact-number')" [showAction]=true>{{model.ContactNumber}}</govuk-summary-list-row>
        </govuk-summary-list>

        <h2 class="govuk-heading-m">About the organisation</h2>
        <govuk-summary-list>
          <govuk-summary-list-row key="Organisation" actionDetails="Organisation" (onKeyupEnter)="navigateTo('notice-organisation-name')" (onClick)="navigateTo('notice-organisation-name')" [showAction]=true>{{model.OrganisationName}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Organisation's role" actionDetails="Organisation's role" (onKeyupEnter)="navigateTo('notice-org-role')" (onClick)="navigateTo('notice-org-role')" [showAction]=true>{{model.OrgRole | orgRole}}</govuk-summary-list-row>
        </govuk-summary-list>

        <h2 class="govuk-heading-m">About the safety occurrence</h2>
        <govuk-summary-list>
          <govuk-summary-list-row key="Notice or Report" actionDetails="Notice or Report" (onKeyupEnter)="navigateTo('what-to-submit')" (onClick)="navigateTo('what-to-submit')" [showAction]=true>Notice</govuk-summary-list-row>
          <govuk-summary-list-row key="Brief description of the occurrence" actionDetails="Brief description of the occurrence" (onKeyupEnter)="navigateTo('briefly-describe-risk-incident')" (onClick)="navigateTo('briefly-describe-risk-incident')" [showAction]=true>{{model.Incident}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Immediate actions taken to keep people safe" actionDetails="Immediate actions taken to keep people safe" (onKeyupEnter)="navigateTo('briefly-describe-risk-incident')" (onClick)="navigateTo('briefly-describe-risk-incident')" [showAction]=true>{{model.ActionsToKeepSafe}}</govuk-summary-list-row>
          <govuk-summary-list-row key="Date and time" actionDetails="Date and time" (onKeyupEnter)="navigateTo('when-become-aware')" (onClick)="navigateTo('when-become-aware')" [showAction]=true>{{model.OccurrenceDateTime}}</govuk-summary-list-row>
        </govuk-summary-list>
        <govuk-body>You can print this on the next page</govuk-body>
      </div>
      <govuk-button id="check-anwers" (onClick)="saveAndContinue()" [isLoading]="processing">Confirm and send</govuk-button>
    </div>
  </div>
</div>

