<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true">

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="details-firstname" message="{{ErrorMessage}}" />
    <govuk-error-link anchorId="details-surname" message="{{ErrorMessage}}" />
  </govuk-error-summary>

  <govuk-input id="details-firstname" label="First name" labelClass="govuk-label--l" [isPageHeading]=true
               [(model)]="model" #field [govukRequired]="field" [maxlength]="20"
               [errorText]="getErrorDescription(hasErrors, ErrorMessage)"
               class="govuk-input--width-20 govuk-!-margin-bottom-5"
               (onKeyupEnter)="saveAndContinue()" />

  <govuk-input id="details-surname" label="Last name" labelClass="govuk-label--l" [isPageHeading]=true
               [(model)]="model" #field [govukRequired]="field" [maxlength]="20"
               [errorText]="getErrorDescription(hasErrors, ErrorMessage)"
               class="govuk-input--width-20 govuk-!-margin-bottom-5"
               (onKeyupEnter)="saveAndContinue()" />



</govuk-formpage>
