
<govuk-back-link>Back</govuk-back-link>
<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l margin-top-10">Only certain duty holders can submit a mandatory occurrence report</h1>
      
      <govuk-body>Duty holders:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="Principal accountable person" />
        <govuk-list-item text="Accountable person" />
        <govuk-list-item text="Principal contractor" />
        <govuk-list-item text="Principal designer" />
      </govuk-list>

    </div>

  </div>
</div>
