<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cookies on Submit a mandatory occurrence notice and report service</h1>

      <govuk-body>Cookies are small files saved on your phone, tablet or computer when you visit a website.</govuk-body>

      <govuk-body>We use cookies to make this site work and collect informaitn about how you use our service.</govuk-body>


      <h2 class="govuk-heading-m">Cookie Settings</h2>
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="functional-cookies-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that measure website use</legend>
          <div id="functional-cookies-hint" class="govuk-hint">
            <govuk-body>We use Google Analytics to measure how you use the Submit a mandatory occurrence notice and report service so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:</govuk-body>

            <govuk-list classes='govuk-list--bullet'>
              <govuk-list-item text="how you got to the service" />
              <govuk-list-item text="the pages you visit on the service, and how long you spend on each page" />
              <govuk-list-item text="what you click on while you’re using the service" />
            </govuk-list>

            <govuk-body>We do not allow Google to use or share the data about how you use this site.</govuk-body>
          </div>

          <govuk-radio-group aria-required="true" title="Do you want to accept analytics cookies?" class="govuk-!-margin-bottom-4" [(model)]="cookieModel">
            <govuk-radio name="cookies" id="cookies-yes" value="true" label="Yes" (onKeyupEnter)="saveCookieSettings()" [model]="cookieModel" />
            <govuk-radio name="cookies" id="cookies-no" value="false" label="No" (onKeyupEnter)="saveCookieSettings()" [model]="cookieModel" />
          </govuk-radio-group>
        </fieldset>

        <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
        <govuk-body>
          These essential cookies do things like remember your progress through the application form.
        </govuk-body>
        <govuk-body>
          They always need to be on.
        </govuk-body>

        <govuk-body><a href="help/cookie-details" class="govuk-link" role="link">Find out more about cookies on the Notify BSR of a mandatory occurence service</a></govuk-body>

        <govuk-button (onClick)="saveCookieSettings()">Save changes</govuk-button>

      </div>

    </div>
  </div>
</div>
