<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()">
  <span class="govuk-caption-l">About the request</span>
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="!hasWhoAreYouErrors" anchorId="request-about-input" message="Select or enter who are you" />
  </govuk-error-summary>

  <govuk-radio-group title="Who are you?" [isPageHeading]="true" [(model)]="model.WhoAreYou" #field [govukRequired]="field" id="radios-who-are-you" [errorText]="getErrorDescription(hasWhoAreYouErrors, 'Select who are you')">
    <div id="who-are-you-hint" class="govuk-hint">
      Select &#39;resident&#39; if you are a resident or acting on behalf of one
    </div>
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.WhoAreYou" name="application-group" id="who-are-you-resident" value="resident" label="a resident" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.WhoAreYou" name="application-group" id="who-are-you-public-member" value="public_member" label="a member of the public" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.WhoAreYou" name="application-group" id="who-are-you-building-professional" value="building_professional" label="a building professional, for example an accountable person" />
    <govuk-radio (onKeyupEnter)="saveAndContinue()" [model]="model.WhoAreYou" name="application-group" id="who-are-you-other" label="Other" value="other">
      <govuk-input (onKeyupEnter)="saveAndContinue()" class="govuk-input--width-20" id="other-description" [(model)]="model.WhoAreYouOther" label="Your organisations role" labelClass="govuk-label--s" [errorText]="getErrorDescription(hasErrors, 'Enter organisation role')" />
    </govuk-radio>
  </govuk-radio-group>
</govuk-formpage>
