<file-upload-input id="file-upload-report"
                   [fileInfoModel]="totalFilesUploading()"
                   inputClass="govuk-file-upload govuk-!-margin-bottom-5"
                   type="file"
                   labelClass="govuk-label--xl"
                   hintClass="govuk-hint"
                   [isPageHeading]="true"
                   (onChange)="selectFiles($event)"
                   label="Upload supporting information (optional)"
                   hint="You can upload supporting information, for example documents or photos. You can upload more than one file at a time. Each file must be smaller than 100MB." />
<file-upload-info [showUploadingInfo]=showUploadingInfo [(model)]="fileModel" [showUploadedFiles]="showFilesUploded" [fileUploadingInfoModel]="totalFilesProcessing()" [fileInfoModel]="totalFilesProcessed()" (onClick)="remove($event)" (onKeyupEnter)="remove($event)" />
