<govuk-field id='field-{{id}}'
             [hint]="hint"
             [hintClass]="hintClass"
             [errorText]="errorText"
             [errorClass]="errorClass"
             [label]="label"
             [labelClass]="labelClass"
             [isPageHeading]="isPageHeading"
             labelFor="input-{{id}}"
             aria-hidden="true">

  <!--<govuk-body id="upload-support-info-{{id}}" *ngIf="showUploadingInfo" aria-live="polite">{{fileInfoModel}}</govuk-body>-->


  <input id='input-{{id}}'
         [attr.name]="name || id"
         class="{{inputClass}}"
         attr.aria-describedby='hint-hint-{{id}}'
         [ngClass]="{'govuk-input--error' : errorText}"
         [attr.type]="type"
         (change)="onChange.emit($event)"
         #inputFile
         multiple>

</govuk-field>

