<govuk-formpage saveAndContinueText="Send verification email" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true" [processing]="processing">

  <h1 class="govuk-heading-l">Your email address</h1>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="hasErrors" anchorId="input-email" message="{{errorMessage}}" />
  </govuk-error-summary>

  <govuk-body>To secure your mandatory occurrence notice or report and allow you to return to it later, we need to verify your email address. To do this, we will send you a 6-digit security code.</govuk-body>

  <govuk-body>If you do not have an email address, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" class="govuk-link" target="_blank">contact us</a> to submit a mandatory occurrence notice or report.</govuk-body>

  <govuk-input id="email" type="email" [maxlength]=100
               label="Enter your email address" labelClass="govuk-label--s"
               [(model)]="model" #field [govukRequired]="field"
               [errorText]="getErrorDescription(hasErrors, errorMessage)"
               hint="We will use this to contact you about this notice or report. You will need to use this email address to access the notice or report."
               class="govuk-input--width-20 govuk-!-margin-bottom-5"
               (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
