<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true" [processing]="processing">

  <h1 class="govuk-heading-l">Verify your email address</h1>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-security-code" [message]="getOtpError()" />
  </govuk-error-summary>

  <govuk-body>We have sent a 6-digit security code to: <b>{{ email }}</b>.</govuk-body>
  <govuk-body>If you cannot find the email, please check your junk or spam folders.</govuk-body>
  <govuk-body>If you did not get an email, or wish to use a different email address, you can <a class="govuk-link" [routerLink]="['/enter-email']">resend the email or enter a different email address.</a></govuk-body>

  <govuk-input [isAriaRequired]="true" id="security-code" label="Security code" labelClass="govuk-label--s"
               [maxlength]=6
               hint="For example, '123456'."
               [(model)]="model" class="govuk-input--width-10"
               [errorText]="getErrorDescription(hasErrors, getOtpError())"
               (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
