<div class="govuk-form-group">

  <span class="govuk-caption-l">About the request</span>

  <govuk-error-summary *ngIf="floorsHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="address-0-input" message="Select floors and height" />
  </govuk-error-summary>

  <govuk-radio-group title="How big is the building?" [isPageHeading]="true" [(model)]="numberOfFloors" #field [govukRequired]="field" id="radios-number-of-floors" [errorText]="getErrorDescription(floorsHasErrors, 'You need to tell us how big the building is')">
    <div id="number-of-floors-hint" class="govuk-hint">
      Do not count basement levels, the roof, or floors that contain only machinery such as lift equipment
    </div>
    <govuk-radio (onKeyupEnter)="continue()" [model]="numberOfFloors" name="application-group" id="number-of-floors-seven-or-more" value="seven_or_more" label="7 floors or more, or 18m or more high" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="numberOfFloors" name="application-group" id="number-of-floors-seven-or-more" value="seven_or_less" label="fewer than 7 floors, or less than 18m high" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="numberOfFloors" name="application-group" id="number-of-floors-dont-know" value="dont_know" label="I don&#39;t know" />
  </govuk-radio-group>
</div>
<govuk-button (onClick)="continue()">Continue</govuk-button>
