<span class="govuk-caption-l">About the building</span>
<h1 class="govuk-heading-l">The Building Safety Regulator currently operates only in England</h1>
<govuk-body>The Regulator does not currently require you to register buildings in Scotland or Wales. Look out for further announcements about when and how to register buildings in these countries.</govuk-body>

<govuk-body>If the building you want to register or need help with is in England, use the ‘back’ function to return to the question ‘Which part of the UK is your issue in?’ and select ‘England’ from the options, then proceed.</govuk-body>
