<div class="govuk-form-group">

  <span class="govuk-caption-l">About the building</span>
  <h1 class="govuk-heading-l">Building address</h1>

  <govuk-error-summary *ngIf="postcodeHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-postcode" message="{{postcodeErrorText}}" />
  </govuk-error-summary>

  <govuk-input [isAriaRequired]="true" id="postcode" label="Postcode"
               [(model)]="searchModel.postcode"
               hint="If you know the post code of the building, enter it here and select the relevant address."
               [errorText]="getErrorDescription(postcodeHasErrors, postcodeErrorText)"
               class="govuk-!-margin-bottom-5 govuk-input--width-20"
               (onKeyupEnter)="findAddress()" />

  <govuk-body><a class="govuk-link" (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">Enter address manually</a></govuk-body>
  <govuk-button [isLoading]="loading" loadingText="Searching..." [disabled]="loading" (onClick)="findAddress()">Continue</govuk-button>
</div>
