<div class="govuk-form-group">

  <govuk-error-summary *ngIf="postcodeHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-postcode" message="{{postcodeErrorText}}" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Building address</h1>

  <div class="govuk-hint">If you know the post code of the building, type it here and select the address from the choice on the next page.</div>
  <govuk-body>{{addressTypeDescription()}}</govuk-body>
  <govuk-input id="postcode" label="Postcode"
               [(model)]="searchModel.postcode"
               [errorText]="getErrorDescription(postcodeHasErrors, postcodeErrorText)"
               class="govuk-!-margin-bottom-5 govuk-input--width-10"
               (onKeyupEnter)="findAddress()" />

  <govuk-button [isLoading]="loading" loadingText="Searching..." [disabled]="loading" (onClick)="findAddress()">Continue</govuk-button>
</div>
