<div class="govuk-form-group">

  <span class="govuk-caption-l">About the building</span>
  <govuk-error-summary *ngIf="hasLocateBuildingErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="hasLocateBuildingErrors" anchorId="locate-building-coordinates-input" message="You need to tell us how you want to locate the building" />
  </govuk-error-summary>

  <govuk-radio-group class="govuk-!-margin-bottom-4" title="Choose how to locate building?" [isPageHeading]="true" [(model)]="model" #field [govukRequired]="field" id="radios-locate-building" [errorText]="getErrorDescription(hasLocateBuildingErrors, 'You need to tell us how you want to locate the building')">
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="locate-building-coordinates" value="coordinates" label="Easting / northing coordinates" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="locate-building-building-control" value="building-control" label="Building control application number" />
  </govuk-radio-group>
  </div>
  <govuk-button (onClick)="continue()">Continue</govuk-button>
