<div class="govuk-form-group">

  <span class="govuk-caption-l">About the building</span>
  <govuk-error-summary *ngIf="addressHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="region-address-england-input" message="Select an address" />
  </govuk-error-summary>

  <govuk-radio-group class="govuk-!-margin-bottom-4" title="Where is the building?" [isPageHeading]="true" [(model)]="model" #field [govukRequired]="field" id="radios-region-address" [errorText]="getErrorDescription(addressHasErrors, 'Select address region')">
    <div class="govuk-hint">We need to know this because the Building Safety Regulator does not operate in all parts of the UK.</div>
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="region-address-england" value="england" label="England" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="region-address-scotland" value="scotland" label="Scotland" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="region-address-wales" value="wales" label="Wales" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="region-address-northern-ireland" value="northern-ireland" label="Northern Ireland" />
    <govuk-radio (onKeyupEnter)="continue()" [model]="model" name="application-group" id="region-address-jersey" value="jersey" label="Jersey, Guernsey, the Isle of Man or Gibraltar" />
  </govuk-radio-group>
</div>

<govuk-button (onClick)="continue()">Continue</govuk-button>
