<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true">

  <span class="govuk-caption-l">Organisation you're acting for</span>
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-notice-acting-org" message="{{ErrorMessage}}" />
  </govuk-error-summary>

  <govuk-input-autocomplete label="What is the name of the organisation you're acting for?" labelClass="govuk-label--l" id="notice-acting-org" [isPageHeading]=true
                            [(model)]="model" #field [govukRequired]="field" [maxlength]="50"
                            hint="For example, if you're a managing agent this would be the name of your own end client"
                            [values]="companies" (onDebounce)="searchCompanies($event)" (onSelectedValue)="selectCompanyName($event)"
                            [errorText]="getErrorDescription(hasErrors, ErrorMessage)"
                            class="govuk-input--width-20 govuk-!-margin-bottom-5" />
 

</govuk-formpage>
