<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true">

  <span class="govuk-caption-l">About you</span>

  <h1 class="govuk-heading-l">Your name</h1>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="firstNameInError" anchorId="input-first-name" message="Enter your first name" />
    <govuk-error-link *ngIf="lastNameInError" anchorId="input-last-name" message="Enter your last name" />
  </govuk-error-summary>

  <govuk-input [isAriaRequired]="true" id="first-name" label="First name"
               [(model)]="model.FirstName" #field [govukRequired]="field"
               [errorText]="getErrorDescription(firstNameInError, 'Enter your first name')"
               class="govuk-input--width-20 govuk-!-margin-bottom-5"
               (onKeyupEnter)="saveAndContinue()" />

  <govuk-input [isAriaRequired]="true" id="last-name" label="Last name"
               [(model)]="model.LastName" #field2 [govukRequired]="field2"
               class="govuk-input--width-20"
               [errorText]="getErrorDescription(lastNameInError, 'Enter your last name')"
               (onKeyupEnter)="saveAndContinue()" />



</govuk-formpage>
