<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndComeBack]="true">

  <span class="govuk-caption-l">About the organisation</span>
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-notice-org-name" message="{{ErrorMessage}}" />
  </govuk-error-summary>

  <govuk-input id="notice-org-name" label="Tell us your organisation name?" labelClass="govuk-label--l" [isPageHeading]=true
               [(model)]="model" #field [govukRequired]="field" [maxlength]="50"
               [errorText]="getErrorDescription(hasErrors, ErrorMessage)"
               class="govuk-input--width-20 govuk-!-margin-bottom-5"
               (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
