<govuk-formpage saveAndContinueText="Continue" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()">
  <h1 class="govuk-heading-l">Building height</h1>

  <govuk-body>Measure the height in metres from ground level to the top floor.</govuk-body>
  <govuk-body>Do not measure the roof, unless there is a residential unit on it.</govuk-body>

  <govuk-list classes='govuk-list--bullet'>
    <govuk-list-item text="any floors at or above ground level" />
    <govuk-list-item text="any floors that people could use" />
    <govuk-list-item text="any mezzanine floors that are at least 50% of the area of any of the other floors" />
  </govuk-list>

  <govuk-list classes='govuk-list--bullet'>
    <govuk-list-item text="floors below ground level" />
    <govuk-list-item text="the roof" />
    <govuk-list-item text="other floors that people cannot use" />
    <govuk-list-item text="any mezzanine floors that are less than 50% of the area of any of the other floors" />
  </govuk-list>

  <govuk-details summaryText="Help with ground level">
    <govuk-body>Ground level is the level of land immediately next to. If that land is uneven, count from the lowest part of the land immediately next to.</govuk-body>
  </govuk-details>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="heightHasError" anchorId="input-block-name" message="You need to tell us how tall the building is in metres" />
  </govuk-error-summary>

  <div class="govuk-hint">For example, &#39;18&#39;.</div>
  <govuk-input label="Height in metres"
               labelClass="govuk-label--s" id="building-height" #field [govukRequired]="field"
               [(model)]="model"
               [errorText]="getErrorDescription(heightHasError, errorMessage)"
               class="govuk-input--width-4"
               (onKeyupEnter)="saveAndContinue()" />
</govuk-formpage>
