<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Complaint received</h1>
        <div>We've received your complaint about [building address]</div>
        <div class="govuk-panel__body">
          Reference number<br><strong><span aria-label="H, D, J, 2, 1, 2, 3, F">HDJ2123F</span></strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <govuk-body>You have chosen not to provide us with your contact details. We cannot keep you updated with any actions we may take.</govuk-body>
      <govuk-body>If you want us to update you, you must provide us with a way to contact you, for example your phone number or email address. You can do this by email or phone quoting your reference number.</govuk-body>
      <govuk-body>All complaints will be evaluated by BSR whether named or anonymous.</govuk-body>
      <govuk-body><a href="https://forms.office.com/e/TtNKsTGn7W">What did you think of this service?</a> (takes 30 seconds)</govuk-body>

    </div>
  </div>
</div>
