<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Make a mandatory occurrence report</h1>

      <govuk-body>Use this service to make a mandatory occurrence report to the Building Safety Regulator (BSR).</govuk-body>
      <govuk-body>Make a mandatory occurrence report if you are:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="an accountable person or principal accountable person." />
        <govuk-list-item text="principal contractor or principal designer." />
      </govuk-list>

      <h2 class="govuk-heading-m">Occupied buildings</h2>
      <govuk-body>If you are an accountable person or principal accountable person, you must make a mandatory occurrence report for an occupied building if something causes</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="structural failure" />
        <govuk-list-item text="spread of fire" />
      </govuk-list>
      <govuk-body>or if something risks</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="structural failure" />
        <govuk-list-item text="spread of fire" />
      </govuk-list>

      <h2 class="govuk-heading-m">Buildings in design or construction</h2>
      <govuk-body>If you are a principal contractor or principal designer, you must make a mandatory occurrence report if something</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="causes structural failure" />
        <govuk-list-item text="diminishes fire safety" />
      </govuk-list>
      <govuk-body>or if something risks</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="structural failure" />
        <govuk-list-item text="diminishing fire safety" />
      </govuk-list>
      <govuk-body>You do not need to make a mandatory occurrence report for a design until the project has a building control application number.</govuk-body>

      <h2 class="govuk-heading-m">Before you start</h2>
      <govuk-body>To make a mandatory occurrence report, we will ask you:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="the building registration number or address if the building is occupied" />
        <govuk-list-item text="the building control application number if the building is in design or construction" />
        <govuk-list-item text="your contact details, the name of your organisation and your relationship to the building, for example, principal accountable person" />
        <govuk-list-item text="the type of occurrence you are reporting and when you became aware of it" />
        <govuk-list-item text="what happened, or is at risk of happening" />
        <govuk-list-item text="who is involved and the effect on them" />
        <govuk-list-item text="what you have done to keep people safe" />
        <govuk-list-item text="for any supporting information, such as documents or photographs" />
      </govuk-list>

      <govuk-body><a href="" class="govuk-link" target="_blank">Read the guidance on what occurrences should be reported</a>. (opens in a new tab)</govuk-body>

      <govuk-body>If you are not a principal accountable person, accountable person, principal contractor or principal designer and want to raise an issue with BSR, you should <a href="" class="govuk-link">make a complaint to BSR</a>.</govuk-body>

      <govuk-body>A criminal offence is committed if a mandatory occurrence report is not made within 10 days of you or your organisation becoming aware of an occurrence or risk.</govuk-body>

      <h2 class="govuk-heading-m">If you can't use this service</h2>
      <govuk-body>If you cannot use the online service, call BSR on <a class="govuk-link" href="tel:03007906787">0300 790 6787</a>. BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</govuk-body>

      <govuk-body>A translation service is available if you would prefer to speak in a language other than English.</govuk-body>

      <govuk-button classes="govuk-button--start govuk-!-margin-bottom-8" (onClick)="continue()">
        Start now <arrow-right-icon />
      </govuk-button>
    </div>
  </div>
</div>
