<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Mandatory Occurrence Reporting</h1>

      <govuk-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec tellus fringilla diam commodo tincidunt non eget nulla. Suspendisse fringilla, urna quis posuere auctor, leo leo molestie eros, sit amet bibendum lorem risus eget nibh. Sed ligula justo, pharetra et euismod ut, interdum ut neque. Nullam dignissim, odio id eleifend consequat, leo enim varius augue, a suscipit nisi orci non urna. Quisque a erat non dolor maximus ornare et sit amet libero. Fusce molestie eros et velit commodo, et ullamcorper magna imperdiet. Quisque lacus augue, vestibulum nec gravida vel, facilisis ut risus. Sed condimentum lacinia lorem, placerat auctor dui posuere vitae.</govuk-body>

      <govuk-button classes="govuk-button--start govuk-!-margin-bottom-8" (onClick)="continue()">
        Start now <arrow-right-icon />
      </govuk-button>
    </div>
  </div>
</div>
