<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Submit a mandatory occurrence notice and report</h1>

      <govuk-body>Use this service to submit both a mandatory occurrence notice and a mandatory occurrence report to the Building Safety Regulator.</govuk-body>
      <govuk-body>You must submit a mandatory occurrence notice and report for any safety occurrences related to fire spread, fire safety or structural failure that:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="have caused death or serious injury to a significant number of people" />
        <govuk-list-item text="could cause death or serious injury to a significant number of people" />
      </govuk-list>

      <govuk-body>These safety occurrences include:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="an incident that has happened" />
        <govuk-list-item text="a situation that has the potential to cause an incident in the future" />
      </govuk-list>

      <govuk-body>You must do this even if the incident or situation is remedied immediately.</govuk-body>
      <govuk-body><a href="https://www.gov.uk/guidance/reporting-a-mandatory-occurrence" target="_blank" rel="noreferrer noopener" class="govuk-link">Read detailed guidance on safety occurrences that must be reported to the Building Safety Regulator.</a></govuk-body>

      <h2 class="govuk-heading-m">Who must submit a mandatory notice and report</h2>

      <govuk-body>Submit a mandatory occurrence notice and report if you are, or are acting for:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="an accountable person or principal accountable person and the building is occupied" />
        <govuk-list-item text="principal contractor or principal designer and construction work has started on the building" />
      </govuk-list>


      <h2 class="govuk-heading-m">Mandatory occurrence notice</h2>
      <govuk-body>You must submit a mandatory occurrence notice as soon as you can when a safety occurrence is identified, and before you submit your report.</govuk-body>
      <govuk-body>We will ask you for:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="your contact details" />
        <govuk-list-item text="the address of the building where the incident or situation has been identified" />
        <govuk-list-item text="the date the incident or situation was identified" />
        <govuk-list-item text="to describe briefly the incident or situation" />
        <govuk-list-item text="to tell us any immediate actions you’ve taken since to keep people safe" />
      </govuk-list>

      <govuk-body>When you submit a mandatory occurrence notice, we will give you a reference number you can use to submit a mandatory occurrence report.</govuk-body>

      <h2 class="govuk-heading-m">Mandatory occurrence report</h2>
      <govuk-body>You must submit a mandatory occurrence report after submitting your notice and within 10 calendar days of identifying the safety occurrence.</govuk-body>
      <govuk-body>We will ask you for:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="your mandatory occurrence notice reference number" />
        <govuk-list-item text="the building registration application reference or address if the building is occupied" />
        <govuk-list-item text="the building control application reference number if the building is in design or construction and construction work has started" />
        <govuk-list-item text="your contact details, the name of your organisation and their involvement in the building" />
        <govuk-list-item text="the incident or situation you are reporting and when and how you became aware of it" />
        <govuk-list-item text="what happened, or has the potential of happening" />
        <govuk-list-item text="who is involved and the effect on them" />
        <govuk-list-item text="what you have done and plan to do to keep people safe" />
        <govuk-list-item text="for any supporting information, such as documents, videos or photos" />
      </govuk-list>

      <h2 class="govuk-heading-m">Get help using this service</h2>

      <govuk-body>If you cannot use the online service, call the Building Safety Regulator on 0300 790 6787. The Building Safety Regulator is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</govuk-body>
      <govuk-body>A translation service is available if you would prefer to speak in a language other than English.</govuk-body>

      <govuk-button classes="govuk-button--start govuk-!-margin-bottom-8" (onClick)="continue()">
        Start now <arrow-right-icon />
      </govuk-button>
    </div>
  </div>
</div>
