<govuk-formpage [processing]="processing" saveAndContinueText="Confirm and send" (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideSaveAndContinue]="true" [hideSaveAndComeBack]="true">
  <h1 class="govuk-heading-l">Print or save mandatory occurrence notice</h1>

  <h2 class="govuk-heading-m">About the notice</h2>
  <govuk-summary-list>
    <govuk-summary-list-row key="Mandatory occurrence notice reference">{{model.CaseNumber}}</govuk-summary-list-row>
  </govuk-summary-list>

  <h2 class="govuk-heading-m">About the building</h2>
  <govuk-summary-list>
    <govuk-summary-list-row *ngIf="!isAboutBuilding" key="Building address">{{model.Address}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isBCAAddress" key="BCA reference">{{model.BcaReference}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isHRBAdress" key="Building HRB number">{{model.HrbNumber}}</govuk-summary-list-row>
    <govuk-summary-list-row *ngIf="isAboutBuilding" key="Tell us how to find your building">{{model.AboutBuilding}}</govuk-summary-list-row>
  </govuk-summary-list>

  <govuk-summary-list *ngIf="isManual || isAboutBuilding">
    <govuk-summary-list-row key="Number of floors">{{model.NumberOfFloors}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Building height">{{model.BuildingHeight}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Number of units">{{model.NumberOfUnits}}</govuk-summary-list-row>
  </govuk-summary-list>

  <h2 class="govuk-heading-m">About you</h2>
  <govuk-summary-list>
    <govuk-summary-list-row key="Your name">{{model.YourName}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Contact details">{{model.ContactDetails}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Telephone or mobile number">{{model.ContactNumber}}</govuk-summary-list-row>
  </govuk-summary-list>

  <h2 class="govuk-heading-m">About the organisation</h2>
  <govuk-summary-list>
    <govuk-summary-list-row key="Organisation type">{{model.OrgType | orgType }}</govuk-summary-list-row>
    <govuk-summary-list-row key="Organisation">{{model.OrganisationName}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Organisation's role">{{model.OrgRole | orgRole}}</govuk-summary-list-row>
  </govuk-summary-list>

  <h2 class="govuk-heading-m" *ngIf="isActingOrganisation">About the organisation you're acting for</h2>
  <govuk-summary-list *ngIf="isActingOrganisation">
    <govuk-summary-list-row key="Organisation type">{{model.ActingOrgType | orgType }}</govuk-summary-list-row>
    <govuk-summary-list-row key="Organisation">{{model.ActingOrg}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Organisation's role">{{model.ActingOrgRole | orgRole}}</govuk-summary-list-row>
  </govuk-summary-list>

  <h2 class="govuk-heading-m">About the safety occurrence</h2>
  <govuk-summary-list>
    <govuk-summary-list-row key="Notice or Report">Notice</govuk-summary-list-row>
    <govuk-summary-list-row key="Brief description of the occurrence">{{model.Incident}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Immediate actions taken to keep people safe">{{model.ActionsToKeepSafe}}</govuk-summary-list-row>
    <govuk-summary-list-row key="Date and time">{{model.OccurrenceDateTime}}</govuk-summary-list-row>
  </govuk-summary-list>
  <govuk-body><a class="govuk-link" (click)="printSummary()" role="link">Print or save this page</a></govuk-body>
</govuk-formpage>
