<govuk-back-link>Back</govuk-back-link>
<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About the building</span>
      <h1 class="govuk-heading-l">You do not need to submit a mandatory occurrence notice or report</h1>
      <govuk-body><a href="https://www.gov.uk/guidance/reporting-a-mandatory-occurrence" target="_blank" rel="noreferrer noopener" class="govuk-link">Read detailed guidance on when you need to submit a mandatory occurrence notice or report</a></govuk-body>

    </div>

  </div>
</div>
