<govuk-back-link>Back</govuk-back-link>
<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">About the building</span>
      <h1 class="govuk-heading-l">You do not need to submit a mandatory occurrence report</h1>
      <govuk-body>The Regulator does not currently require you to make a mandatory occurrence report because your building has not yet been given a building control reference.</govuk-body>
      <govuk-body>If you believe that the building should have a building control approval reference then you or the princial designer will need to submit an application to <a href="https://www.hse.gov.uk/building-safety/regulator.htm" target="_blank" rel="noreferrer noopener" class="govuk-link">[ insert service ]</a></govuk-body>

    </div>

  </div>
</div>
